html {
	position: relative;
}

body {
	margin-bottom: 120px;
	margin-top: 30px;
}


.jumbotron {
	height: 500px;
	background-image: url(../img/header-bg.png);
	background-size: cover;
	background-attachment: fixed;
	background-position: 0 -140px;
	overflow: hidden;
	position: relative;
}

.jumbotron img {
	width: 200px;
	border: 5px solid #ddd;
}

.jumbotron h1{
	color: rgba(255,255,255,.8);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.jumbotron p{
	color: #EA0A49;
	font-size: 2em;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
	
}

hr {
	width: 250px;
	border-top: 3px solid #ffffff;
}
.berita p, a{
	color:#ff000d;
}
.info h2{
	color:#0B486B;

	background-color: #0B486B
}
section {
	min-height: 600px;
}

.kiri, .kanan {
	opacity: 0;
	transform: translate(-50px, 0);
	transition: 1.2s;
	text-align: justify;
	color:#ffffff;
	background-color: #0B486B
}

.kanan {
	transform: translate(50px, 0);
	text-align: justify;
	color:#070707;
	background-color: #BFBCBC
}

.kiri-go, .kanan-go {
	opacity: 1;
	transform: translate(0, 0);
}

.portfolio {
	background-color: #eee;
}

.portfolio .thumbnail {
	opacity: 0;
	transform: translate(0,-40px);
	transition: .3s;
}

.portfolio .thumbnail.muncul {
	opacity: 1;
	transform: translate(0,0);
}

.contact {
	min-height: 800px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
	background-color: #333;
	padding-top: 2px;
}

footer p {
	color: #aaa;
	font-size: 0.9em;
}

footer p i {
	color: salmon;
}











